# OVERVIEW OF DATASET

###### A comprehensive dataset for exploring the car market in Australia.

This dataset contains the latest information on car prices in Australia for the year 2023. It covers various brands, models, types, and features of cars sold in the Australian market. It provides useful insights into the trends and factors influencing the car prices in Australia. The dataset includes information such as brand, year, model, car/suv, title, used/new, transmission, engine, drive type, fuel type, fuel consumption, kilometres, colour (exterior/interior), location, cylinders in engine, body type, doors, seats, and price. The dataset has over 16,000 records of car listings from various online platforms in Australia.

In [1]:
# importing necesarry libraries
import pandas as pd
import numpy as np

In [2]:
# Reading a CSV file named 'Australian Vehicle Prices.csv' and storing the data in the variable AU_Car_Price
AU_Car_Price = pd.read_csv('Australian Vehicle Prices.csv')

# Displaying the first 10 rows of the DataFrame to get an overview of the data
AU_Car_Price.head(10)

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
5,Toyota,2004.0,Estima,ON FOUR WHEELS,2004 Toyota Estima T EDITION,USED,Automatic,-,Other,Unleaded,-,160230,Grey / -,"Saint Marys, NSW",-,Commercial,NaN,NaN,9990
6,Land,2017.0,Rover,SUV,2017 Land Rover Range Rover Evoque TD4 180 HSE...,USED,Automatic,"4 cyl, 2 L",AWD,Diesel,5.1 L / 100 km,67662,White / Black,"Blacktown, NSW",4 cyl,SUV,2 Doors,4 Seats,62280
7,Nissan,2000.0,Pulsar,Hatchback,2000 Nissan Pulsar LX,USED,Automatic,"4 cyl, 1.6 L",Front,Unleaded,8 L / 100 km,300539,Red / Grey,"Wentworthville, NSW",4 cyl,Hatchback,5 Doors,5 Seats,2995
8,Toyota,2013.0,86,Coupe,2013 Toyota 86 GT,USED,Automatic,"4 cyl, 2 L",Rear,Premium,7.1 L / 100 km,82012,Black / -,"Mcgraths Hill, NSW",4 cyl,Coupe,2 Doors,4 Seats,24888
9,Honda,2014.0,Jazz,Hatchback,2014 Honda Jazz Hybrid,USED,Automatic,"4 cyl, 1.3 L",Front,Hybrid,4.5 L / 100 km,38229,Blue / -,"Lidcombe, NSW",4 cyl,Hatchback,5 Doors,5 Seats,17900

In [3]:
#checking the number of rows and columns in the dataframe
AU_Car_Price.shape

(16734, 19)

In [4]:
# Displaying information about the DataFrame AU_Car_Price, including data types and non-null counts
AU_Car_Price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16734 entries, 0 to 16733
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              16733 non-null  object
 1   Year               16733 non-null  float64
 2   Model              16733 non-null  object
 3   Car/Suv            16706 non-null  object
 4   Title              16733 non-null  object
 5   UsedOrNew          16733 non-null  object
 6   Transmission       16733 non-null  object
 7   Engine             16733 non-null  object
 8   DriveType          16733 non-null  object
 9   FuelType           16733 non-null  object
 10  FuelConsumption    16733 non-null  object
 11  Kilometres         16733 non-null  object
 12  ColourExtInt       16733 non-null  object
 13  Location           16284 non-null  object
 14  CylindersinEngine  16733 non-null  object
 15  BodyType           16452 non-null  object
 16  Doors              15130 non-null  object
 17  Seats              15029 non-null  object
 18  Price              16731 non-null  object
dtypes: float64(1), object(18)
memory usage: 2.4+ MB

# DATA CLEANING

### Handling Missing Values

In [5]:
# Checking for the sum of missing values in each column of the DataFrame AU_Car_Price
missing_values = AU_Car_Price.isnull().sum()

# Displaying the count of missing values for each column
print(missing_values)

Brand                   1
Year                    1
Model                   1
Car/Suv                28
Title                   1
UsedOrNew               1
Transmission            1
Engine                  1
DriveType               1
FuelType                1
FuelConsumption         1
Kilometres              1
ColourExtInt            1
Location              450
CylindersinEngine       1
BodyType              282
Doors                1604
Seats                1705
Price                   3
dtype: int64

In [6]:
# Accessing the column names of the DataFrame
AU_Car_Price.columns

Index(['Brand', 'Year', 'Model', 'Car/Suv', 'Title', 'UsedOrNew',
       'Transmission', 'Engine', 'DriveType', 'FuelType', 'FuelConsumption',
       'Kilometres', 'ColourExtInt', 'Location', 'CylindersinEngine',
       'BodyType', 'Doors', 'Seats', 'Price'],
      dtype='object')

In [7]:
# Dropping rows with null values in the specified columns
AU_Car_Price.dropna(subset=['Brand', 'Year', 'Car/Suv', 'Transmission', 'DriveType', 'Kilometres', 'FuelConsumption', 'Price', 'UsedOrNew', 'CylindersinEngine', 'BodyType'], inplace = True)

In [8]:
#Checking to see if the rows with missing values in the specified columns have been dropped
AU_Car_Price.isnull().sum()

Brand                   0
Year                    0
Model                   0
Car/Suv                 0
Title                   0
UsedOrNew               0
Transmission            0
Engine                  0
DriveType               0
FuelType                0
FuelConsumption         0
Kilometres              0
ColourExtInt            0
Location              436
CylindersinEngine       0
BodyType                0
Doors                1321
Seats                1422
Price                   0
dtype: int64

### Handling Duplicates

In [9]:
# Identifying and displaying duplicate rows in the DataFrame
AU_Car_Price[AU_Car_Price.duplicated()]

Empty DataFrame
Columns: [Brand, Year, Model, Car/Suv, Title, UsedOrNew, Transmission, Engine, DriveType, FuelType, FuelConsumption, Kilometres, ColourExtInt, Location, CylindersinEngine, BodyType, Doors, Seats, Price]
Index: []

### Checking for Unique Values in Columns

In [10]:
# Extracting the 'Brand' column from the DataFrame and finding unique values
AU_Car_Price['Brand'].unique()

array(['Ssangyong', 'MG', 'BMW', 'Mercedes-Benz', 'Renault', 'Toyota',
       'Land', 'Nissan', 'Honda', 'Volkswagen', 'Mitsubishi', 'Ford',
       'Subaru', 'Hyundai', 'Jeep', 'Volvo', 'Mazda', 'Abarth', 'Holden',
       'Audi', 'Kia', 'Mini', 'Peugeot', 'Suzuki', 'Dodge', 'Porsche',
       'Isuzu', 'Lexus', 'Jaguar', 'Rolls-Royce', 'Skoda', 'Fiat',
       'Haval', 'Citroen', 'LDV', 'HSV', 'Foton', 'Mahindra', 'Maserati',
       'Alfa', 'GWM', 'Ram', 'Tesla', 'Genesis', 'Chrysler', 'Great',
       'Opel', 'Bentley', 'Rover', 'Ferrari', 'Cupra', 'Chevrolet',
       'Lamborghini', 'FPV', 'McLaren', 'Chery', 'Iveco', 'Infiniti',
       'BYD', 'Tata', 'Aston', 'Daewoo', 'Saab', 'Proton', 'Smart',
       'Daihatsu', 'Ineos', 'Caterham', 'Hino', 'International', 'Lotus',
       'Polestar'], dtype=object)

carried out this practice for other columns so as to identify some modifications to be made

### Stripping Characters from Columns

In [11]:
# Stripping hyphen characters(-) from the 'Brand' column in the DataFrame AU_Car_Price
AU_Car_Price['Transmission'].replace('-', '', inplace=True)

In [12]:
#Verifying the character has been removed
AU_Car_Price['Transmission'].unique()

array(['Automatic', 'Manual', ''], dtype=object)

In [13]:
AU_Car_Price['CylindersinEngine'].replace('-cylL', '', inplace=True)

In [14]:
AU_Car_Price['CylindersinEngine'].unique()

array(['4 cyl', '8 cyl', '-', '3 cyl', '6 cyl', '5 cyl', '12 cyl', '0 L',
       '2 cyl', '10 cyl'], dtype=object)

In [15]:
# Stripping specified characters ('-', 'cyl', 'L') from the 'CylindersinEngine' column in the DataFrame AU_Car_Price
AU_Car_Price['CylindersinEngine'].replace(['-', 'cyl', 'L'], '', regex=True, inplace=True)

In [16]:
#checking to verify if the characters have been removed
AU_Car_Price['CylindersinEngine'].unique()

array(['4 ', '8 ', '', '3 ', '6 ', '5 ', '12 ', '0 ', '2 ', '10 '],
      dtype=object)

In [17]:
#stripping all the whitespaces from the column
AU_Car_Price['CylindersinEngine'] = AU_Car_Price['CylindersinEngine'].str.strip()

In [18]:
#checking to see if the whitespaces have been trimmed
AU_Car_Price['CylindersinEngine'].unique()

array(['4', '8', '', '3', '6', '5', '12', '0', '2', '10'], dtype=object)

In [19]:
# Stripping specified characters ('L', '/', '100', 'km') from the 'FuelConsumption' column in the DataFrame AU_Car_Price
# The replace() method is used to replace specified characters, and regex=True allows interpreting the first argument as a regular expression.
# The characters to be replaced are specified in a list ['L', '/', '100', 'km'] and replaced with an empty string ('').
# The inplace=True parameter ensures that the changes are applied directly to the DataFrame.
AU_Car_Price['FuelConsumption'].replace(['L', '/','100', 'km'], '', regex=True, inplace=True)

In [20]:
#checking if changes were effected
AU_Car_Price['FuelConsumption'].unique()

array(['8.7    ', '6.7    ', '6.6    ', '11    ', '6    ', '-', '5.1    ',
       '8    ', '7.1    ', '4.5    ', '9.8    ', '6.2    ', '5.6    ',
       '5.4    ', '7.5    ', '6.1    ', '8.4    ', '5.8    ', '4.7    ',
       '7.9    ', '8.2    ', '6.9    ', '8.1    ', '4.2    ', '7.7    ',
       '9.1    ', '0    ', '7.4    ', '7.6    ', '7.8    ', '9.9    ',
       '10.9    ', '9.6    ', '10    ', '8.8    ', '6.4    ', '8.9    ',
       '9    ', '6.3    ', '10.4    ', '7.2    ', '5.5    ', '14.5    ',
       '5.9    ', '9.3    ', '11.5    ', '7.3    ', '9.2    ', '4.8    ',
       '10.1    ', '8.3    ', '6.5    ', '8.6    ', '5.2    ', '4.9    ',
       '8.5    ', '10.5    ', '10.3    ', '12.2    ', '7    ', '9.5    ',
       '16    ', '9.4    ', '6.8    ', '4.6    ', '11.6    ', '5.3    ',
       '9.7    ', '10.6    ', '11.8    ', '10.2    ', '3.3    ',
       '5.7    ', '10.8    ', '13.6    ', '10.7    ', '11.3    ',
       '14.6    ', '13    ', '4.1    ', '3.6    ', '12.1    ', '17.2    ',
       '12.3    ', '12.8    ', '13.3    ', '12.7    ', '13.2    ',
       '15.1    ', '3.9    ', '5    ', '14.8    ', '11.7    ', '16.4    ',
       '13.7    ', '12.6    ', '11.2    ', '13.8    ', '4.4    ',
       '11.1    ', '12.4    ', '4    ', '12    ', '3.8    ', '1.9    ',
       '11.4    ', '13.5    ', '27    ', '11.9    ', '14.4    ',
       '13.4    ', '14.9    ', '20    ', '15.4    ', '15.5    ',
       '1.7    ', '12.5    ', '17    ', '16.8    ', '12.9    ',
       '13.9    ', '13.1    ', '15    ', '17.1    ', '4.3    ',
       '18.3    ', '14    ', '14.2    ', '15.2    ', '15.3    ',
       '14.3    ', '15.7    ', '3.5    ', '2.6    ', '19.8    ',
       '18.6    ', '16.2    ', '18.1    ', '2.4    ', '19.1    ',
       '17.4    ', '16.9    ', '20.7    ', '19    ', '14.1    ',
       '3.7    ', '16.5    ', '2.5    ', '3.4    ', '14.7    ',
       '17.8    ', '1.6    ', '2.2    ', '3.2    ', '2.3    ', '16.6    ',
       '15.8    '], dtype=object)

In [21]:
#stripping white spaces
AU_Car_Price['FuelConsumption'] = AU_Car_Price['FuelConsumption'].str.strip()

In [22]:
#checking if changes were effected
AU_Car_Price['FuelConsumption'].unique()

array(['8.7', '6.7', '6.6', '11', '6', '-', '5.1', '8', '7.1', '4.5',
       '9.8', '6.2', '5.6', '5.4', '7.5', '6.1', '8.4', '5.8', '4.7',
       '7.9', '8.2', '6.9', '8.1', '4.2', '7.7', '9.1', '0', '7.4', '7.6',
       '7.8', '9.9', '10.9', '9.6', '10', '8.8', '6.4', '8.9', '9', '6.3',
       '10.4', '7.2', '5.5', '14.5', '5.9', '9.3', '11.5', '7.3', '9.2',
       '4.8', '10.1', '8.3', '6.5', '8.6', '5.2', '4.9', '8.5', '10.5',
       '10.3', '12.2', '7', '9.5', '16', '9.4', '6.8', '4.6', '11.6',
       '5.3', '9.7', '10.6', '11.8', '10.2', '3.3', '5.7', '10.8', '13.6',
       '10.7', '11.3', '14.6', '13', '4.1', '3.6', '12.1', '17.2', '12.3',
       '12.8', '13.3', '12.7', '13.2', '15.1', '3.9', '5', '14.8', '11.7',
       '16.4', '13.7', '12.6', '11.2', '13.8', '4.4', '11.1', '12.4', '4',
       '12', '3.8', '1.9', '11.4', '13.5', '27', '11.9', '14.4', '13.4',
       '14.9', '20', '15.4', '15.5', '1.7', '12.5', '17', '16.8', '12.9',
       '13.9', '13.1', '15', '17.1', '4.3', '18.3', '14', '14.2', '15.2',
       '15.3', '14.3', '15.7', '3.5', '2.6', '19.8', '18.6', '16.2',
       '18.1', '2.4', '19.1', '17.4', '16.9', '20.7', '19', '14.1', '3.7',
       '16.5', '2.5', '3.4', '14.7', '17.8', '1.6', '2.2', '3.2', '2.3',
       '16.6', '15.8'], dtype=object)

In [23]:
# Removing hyphen ('-') from the 'FuelType' column in the DataFrame AU_Car_Price
AU_Car_Price['FuelType'].replace('-', '', inplace = True)
# checking for to see if the changes have been effected
AU_Car_Price['FuelType'].unique()

array(['Diesel', 'Premium', 'Unleaded', 'Hybrid', '', 'Other', 'Electric',
       'LPG', 'Leaded'], dtype=object)

### CONVERTING THE DATA TYPES OF SOME COLUMNS TO NUMERIC FOR EASE OF CALCULATIONS

first convert all the other characters in the column to non-numeric values

In [24]:
# Converting the values in the 'Price' column to float in the DataFrame AU_Car_Price
# The to_numeric() method is used with errors='coerce' to convert non-numeric values to NaN.
AU_Car_Price['Price'] = pd.to_numeric(AU_Car_Price['Price'], errors='coerce')

In [25]:
# Checking for the sum of null values (Nan)
AU_Car_Price['Price'].isnull().sum()

48

In [26]:
# dropping all rows in the 'Price' Column where there are null values
AU_Car_Price.dropna(subset=['Price'], inplace = True)

In [27]:
# Checking for the sum of null values (Nan)
AU_Car_Price['Price'].isnull().sum()

0

then convert the data type

In [28]:
# Converting the values in the 'Price' column to float in the DataFrame AU_Car_Price
# The astype() method is used to change the data type of the 'Price' column to float.
AU_Car_Price['Price'] = AU_Car_Price['Price'].astype(float)

In [29]:
#checking if the data type of the column has been converted to float
AU_Car_Price['Price'].dtype

dtype('float64')

###### Doing the same procedures for the 'Kilometers' and 'CylindersinEngine' row

Converting the data types in the Kilometres column

In [30]:
# Converting the values in the 'Kilometres' column to numeric in the DataFrame AU_Car_Price
# The to_numeric() method is used with errors='coerce' to convert non-numeric values to NaN.
AU_Car_Price['Kilometres'] = pd.to_numeric(AU_Car_Price['Kilometres'], errors='coerce')

In [31]:
#checking for the sum of null values in the 'Kilometres' column
AU_Car_Price['Kilometres'].isnull().sum()

551

In [32]:
#Droppin all rows with corresponding null values in the Kilometres column
AU_Car_Price.dropna(subset=['Kilometres'], inplace=True)

In [33]:
#checking to confirm the null values have been dropped
AU_Car_Price['Kilometres'].isnull().sum()

0

In [34]:
#converting the data type of the Kilometres column to float
AU_Car_Price['Kilometres'] = AU_Car_Price['Kilometres'].astype(float)

In [35]:
#checking to see if the data type has been converted
AU_Car_Price['Kilometres'].dtype

dtype('float64')

Converting the data type in the CylindersinEngine column

In [36]:
AU_Car_Price['CylindersinEngine'] = pd.to_numeric(AU_Car_Price['CylindersinEngine'], errors='coerce')

In [37]:
AU_Car_Price.columns

Index(['Brand', 'Year', 'Model', 'Car/Suv', 'Title', 'UsedOrNew',
       'Transmission', 'Engine', 'DriveType', 'FuelType', 'FuelConsumption',
       'Kilometres', 'ColourExtInt', 'Location', 'CylindersinEngine',
       'BodyType', 'Doors', 'Seats', 'Price'],
      dtype='object')

### RENAMING COLUMNS

In [38]:
#Renaming the 'FuelConsumption' column header in the DataFrame AU_Car_Price to 'FuelConsumption(L/100km)'
AU_Car_Price.rename(columns={'FuelConsumption': 'FuelConsumption(L/100km)'}, inplace=True)

In [39]:
#Renaming the 'Kilometres' column header to 'Mileage(km)'
AU_Car_Price.rename(columns={'Kilometres': 'Mileage(km)'}, inplace=True)

In [40]:
#Checking if the changes has been effected on the column header titles
AU_Car_Price.columns

Index(['Brand', 'Year', 'Model', 'Car/Suv', 'Title', 'UsedOrNew',
       'Transmission', 'Engine', 'DriveType', 'FuelType',
       'FuelConsumption(L/100km)', 'Mileage(km)', 'ColourExtInt', 'Location',
       'CylindersinEngine', 'BodyType', 'Doors', 'Seats', 'Price'],
      dtype='object')

In [41]:
# inspecting the dataframe again
AU_Car_Price.head(5)

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption(L/100km),Mileage(km),ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7,5595.0,White / Black,"Caringbah, NSW",4.0,SUV,4 Doors,7 Seats,51990.0
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7,16.0,Black / Black,"Brookvale, NSW",4.0,Hatchback,5 Doors,5 Seats,19990.0
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6,8472.0,Grey / White,"Sylvania, NSW",4.0,Coupe,2 Doors,4 Seats,108988.0
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11,136517.0,White / Brown,"Mount Druitt, NSW",8.0,Coupe,2 Doors,4 Seats,32990.0
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6,1035.0,Grey / Black,"Castle Hill, NSW",4.0,SUV,4 Doors,5 Seats,34990.0

### DROPPING COLUMNS
Some columns may not be as relevant to for study

In [42]:
AU_Car_Price.drop(columns=['Car/Suv', 'Title', 'Engine', 'Doors', 'Seats', 'Location', 'ColourExtInt'], inplace=True)

In [43]:
AU_Car_Price

,Brand,Year,Model,UsedOrNew,Transmission,DriveType,FuelType,FuelConsumption(L/100km),Mileage(km),CylindersinEngine,BodyType,Price
0,Ssangyong,2022.0,Rexton,DEMO,Automatic,AWD,Diesel,8.7,5595.0,4.0,SUV,51990.0
1,MG,2022.0,MG3,USED,Automatic,Front,Premium,6.7,16.0,4.0,Hatchback,19990.0
2,BMW,2022.0,430I,USED,Automatic,Rear,Premium,6.6,8472.0,4.0,Coupe,108988.0
3,Mercedes-Benz,2011.0,E500,USED,Automatic,Rear,Premium,11,136517.0,8.0,Coupe,32990.0
4,Renault,2022.0,Arkana,USED,Automatic,Front,Unleaded,6,1035.0,4.0,SUV,34990.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16728,Nissan,2021.0,Qashqai,USED,Automatic,Front,Unleaded,6.9,32977.0,4.0,SUV,36770.0
16729,Toyota,2014.0,Alphard,USED,Automatic,Front,Unleaded,-,66000.0,NaN,Commercial,29500.0
16731,Suzuki,2022.0,Vitara,DEMO,Automatic,Front,Unleaded,6.2,5165.0,4.0,SUV,35280.0
16732,Mercedes-Benz,2016.0,GLC250,USED,Automatic,AWD,Premium,7.2,85525.0,4.0,SUV,41888.0
16733,Mercedes-Benz,2021.0,C200,USED,Automatic,Rear,Unleaded,7,31852.0,4.0,Sedan,65888.0

Noticed the data type of the year column is in float, so it needs to be converted to int

In [44]:
# converting the data type of the year column to int
AU_Car_Price['Year'] = AU_Car_Price['Year'].astype(int)

In [47]:
AU_Car_Price.head(10)

,Brand,Year,Model,UsedOrNew,Transmission,DriveType,FuelType,FuelConsumption(L/100km),Mileage(km),CylindersinEngine,BodyType,Price
0,Ssangyong,2022,Rexton,DEMO,Automatic,AWD,Diesel,8.7,5595.0,4.0,SUV,51990.0
1,MG,2022,MG3,USED,Automatic,Front,Premium,6.7,16.0,4.0,Hatchback,19990.0
2,BMW,2022,430I,USED,Automatic,Rear,Premium,6.6,8472.0,4.0,Coupe,108988.0
3,Mercedes-Benz,2011,E500,USED,Automatic,Rear,Premium,11,136517.0,8.0,Coupe,32990.0
4,Renault,2022,Arkana,USED,Automatic,Front,Unleaded,6,1035.0,4.0,SUV,34990.0
5,Toyota,2004,Estima,USED,Automatic,Other,Unleaded,-,160230.0,NaN,Commercial,9990.0
6,Land,2017,Rover,USED,Automatic,AWD,Diesel,5.1,67662.0,4.0,SUV,62280.0
7,Nissan,2000,Pulsar,USED,Automatic,Front,Unleaded,8,300539.0,4.0,Hatchback,2995.0
8,Toyota,2013,86,USED,Automatic,Rear,Premium,7.1,82012.0,4.0,Coupe,24888.0
9,Honda,2014,Jazz,USED,Automatic,Front,Hybrid,4.5,38229.0,4.0,Hatchback,17900.0

In [46]:
#Saving a copy of the cleaned dataframe to my device
AU_Car_Price.to_csv('AUSTRALIA CAR PRICES (CLEANED).csv')